<!doctype html>
<html lang="zh-CN">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no, width=device-width">
    <title>基础控件</title>
    <style>
        html, body{
            width: 100%;
            height: 100%;
            margin: 0px;
            position: absolute;
        }
    </style>
</head>

<body>



<script src="../../static/js/jquery-1.12.2.min.js"></script>
<script type="text/javascript">

    //关闭当前页
    function closeCurrentPage() {
        const ua = window.navigator.userAgent;
        if (ua.indexOf('MSIE') > 0) {
            if (ua.indexOf('MSIE 6.0') > 0) {
                window.opener = null;
                window.close();
            } else {
                window.open('', '_top');
                window.top.close();
            }
        } else {
            window.opener = null;
            window.open('', '_self', '');
            window.close();
        }
    }

</script>
</body>

</html>