<!doctype html>
<html lang="zh-CN">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no, width=device-width">
    <title>dos脚本字典</title>

    <link rel="stylesheet" href="../00-static/base.css">
    <script src="../00-static/base.js"></script>

    <style>

    </style>
</head>
<body>

<pre>

    <h2 class="anchor">介绍</h2>

    <h2 class="anchor">安装</h2>

    <h2 class="anchor">集群</h2>



    <h2 class="anchor">...</h2>

</pre>

</body>
</html>