<!doctype html>
<html lang="zh-CN">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no, width=device-width">
    <title>设计模式</title>

    <link rel="stylesheet" href="../00-static/base.css">
    <style>

    </style>

    <script src="../00-static/base.js"></script>

</head>
<body>

<pre>

    <h2 class="anchor">准备</h2>
    下载jdk8 documentation
        oracle官网 → products → java → 找到对应版本的文档下载

    <h2 class="anchor">单例 singleton</h2>
    DCL
    内部类
    枚举： 防止反序列化

    <h2 class="anchor">策略 Strategy</h2>
    封装的是 做一件事情 有不同的执行方式
    如: Cat( implements Comparator).java CatHeightComparator.java
    如：坦克打什么样的子弹

    <h2 class="anchor">...</h2>
    进度 第6节 第1部分 04:00

</pre>

</body>
</html>