<!DOCTYPE html>
<html lang="en-US">
<head>
    <title>Dynamic Data</title>

    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no, width=device-width">

    <link rel="stylesheet" href="ol.css" type="text/css">
    <link rel="stylesheet" href="layout.css" type="text/css">
</head>
<body>

<div id="map" class="map"></div>

<script src="ol.map.js"></script>
<script src="dynamic-data.js"></script>

</body>
</html>