<!doctype html>
<html lang="zh-CN">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no, width=device-width">
    <title>系统架构师</title>
    <style>

    </style>
</head>

<body>
<pre>

数据库设计 DBMS

    规范化：数据分解为最小单元 任何属性不依赖于主属性（主键）--多表关联分为1NF 2NF 3NF BCNF 4NF

    反规范化：
    1：为方便查询，可增加冗余列，减少连接操作
    2：增加派生列 此列为表格其他列计算结果
    3：重新组表 将多表重新组合 方便查询
    4：分割表 垂直分割、水平分割

    方法：
    1：需求分析
        包括数据库所涉及的数据、数据的特征、使用频率和数据量的估计
        数据名、属性及其 类型、主关键字属性、保密要求、完整性约束条件、更改要求、使用频率、数据量估计等
        这些关于数据的数据称为元数据，在大型数据库中，通常由数据字典管理。
    1：概念结构设计
        面向现实世界的、极易为 用户所理解的数据模型
        自底向上、自顶向下、由里向外和混合策略
    3：逻辑结构设计
    4：物理结构


</pre>
</body>
</html>