<!doctype html>
<html lang="zh-CN">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no, width=device-width">
    <title>dos脚本字典</title>

    <link rel="stylesheet" href="00-static/base.css">
    <script src="00-static/base.js"></script>

    <style>

    </style>
</head>
<body>

<pre>

    <h2 class="anchor">bat</h2>
    修改编码：
        chcp 65001 改为utf-8，解决中文乱码

    <h2 class="anchor">文件拖到bat</h2>
    echo %1 --全路径
    echo %~n1 --文件名（无后缀）
    echo %~x1 --.后缀名
    echo %~n1%~x1 --文件名.后缀名


    <h2 class="anchor">shell参数</h2>
    ${0} 当前文件名
    ${1} 后一个参数值
    ${2} 。。。

    <h2 class="anchor">...</h2>

</pre>

</body>
</html>