<!doctype html>
<html lang="zh-CN">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no, width=device-width">
    <title>基础控件</title>

    <link rel="stylesheet" href="00-static/base.css">
    <script src="00-static/base.js"></script>

    <style>

    </style>
</head>
<body>

<pre>
    通信原理教科书

    <h2 class="anchor">子网掩码</h2>
    作用
        例如 255.255.255.0  192.168.1.10 要ping 192.168.2.10
            255.255.255.0 192.168.1.10 做与运算 得到 192.168.1.0
            发现与192.168.2.10不在同一个网段 则把包交给网关,由网关去匹配



    <h2 class="anchor">...</h2>

</pre>

</body>
</html>
