
html, body{
    width: 100%;
    height: 100%;
    margin: 0px;
    font-size: 16px;
}
body, .anchor-ul{
    background: rgb(15, 77, 23);
    color: #ffffff;

}
pre{
    margin-left: 1em;
}
b{
    font-weight: bold;
}
h2{
    margin: 0;
}
img{
    width: 800px;
    border: 1px solid red;
}
red{
    color: red;
}
yellow{ color: yellow; }
green{ color: limegreen; }
.anchor{

}
.anchor-ul{
    position: fixed; right: 20px; top: 20px;
}
.anchor-ul li{
    cursor: pointer;margin: 5px;
}

.anchor-ul li:hover{
    text-decoration: underline solid lightslategray ;
}

