<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <title>Title</title>

    <style>

    </style>

</head>
<body>

<pre>
    查看web offline缓存：chrome://appcache-internals/


</pre>

<script src="../../../static/js/jquery-1.12.2.min.js"></script>
<script type="text/javascript">

    $(function () {

        if (typeof (window.applicationCache)) {
            console.log("支持web offline");
        } else {
            console.log("不支持web offline");
        }
    })

</script>
</body>
</html>