<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <title>Function</title>

    <style>

    </style>

</head>
<body>

<input type="button" onclick="sum(12,22)" value="create">
<pre>
    一个函数可能会有多个名字，函数名只是一个指向函数对象的指针，
    没有函数重载，重名函数会覆盖之前的引用


</pre>

<script src="../../static/js/jquery-1.12.2.min.js"></script>
<script type="text/javascript">

    // 有助于理解函数即对象 最后一个参数为函数体 不推荐使用
    var sum = new Function("num1", "num2", "console.log(num1 + num2)");

    $(function () {
        var ids = "a,bb,adfd,asddfdf";
        ids = ids.split(",");
        console.log(ids);
    })

</script>
</body>
</html>